// Square.vm

// No need to wrap in a function since .tst runs from top
push argument 0
pop temp 0

push temp 0
push constant 0
lt
if-goto NEGATIVE_X
goto NON_NEGATIVE_X

(NEGATIVE_X)
  push temp 0
  neg
  pop temp 0
  goto AFTER_ABS

(NON_NEGATIVE_X)
(AFTER_ABS)

push temp 0
pop temp 1
push constant 0
pop temp 2

(LOOP_START)
  push temp 1
  push constant 0
  eq
  if-goto LOOP_END

  push temp 2
  push temp 0
  add
  pop temp 2

  push temp 1
  push constant 1
  sub
  pop temp 1

  goto LOOP_START

(LOOP_END)
push temp 2

// Optional infinite loop to avoid "no more instructions" error
(INFINITE)
  goto INFINITE

























